<%= require('../../components/header.ejs')({title: 'Module test'}) %>

<div>
  <a href="index.html">Go back to index</a>
  Hello, world from module test !
  <img src="/assets/images/test.jpg">
</div>

<%= require('../../components/footer.ejs')() %>