<div id="agent-card-top">
    <div id="agent-picture">
        <img id="agent-picture-img" src="<%= assetsUrl %>images/blob.jpeg">
    </div>
    <div id="infos">
        <p id="card-title">Secret agent card</p>
        <h1 id="society-title">Anti-Coffee Society</h1>
        <h3 class="label-badge" id="firstname">Firstname: <span id="badge-fname"></span></h3>
        <h3 class="label-badge" id="lastname" hidden>Lastname: <span id="badge-lname"></span></h3>
        <h3 class="label-badge" id="birthdate" hidden>Birth date: <span id="badge-bdate"></span></h3>
    </div> 
</div>
<div id="agent-card-bottom">
    <div id="citation-container">
        <p id="citation"></p>
        <img src="<%= assetsUrl %>images/barcode.png">
    </div>
    <div id="signature" hidden>
        <p>Signature</p>
        <img id="signature-img">
    </div>
</div>
