<div class="title-bar">
    <div class="title">
        <slot name="icon" class="icon"><img src="<%= assetsUrl %>/images/icons/w95-icon.png"></slot>
        <slot name="title" class="text"><p>Change me by adding slot="title" to a tag</p></slot>
    </div>
    <div class="controls">
        <% if (pcWindowOptions.controls.full) { %><button class="control">U</button><% } %>
        <% if (pcWindowOptions.controls.help) { %><button class="control" bonzi>?</button><% } %>
        <button class="control" close>X</button>
    </div>
</div>

<% if (pcWindowOptions.bMenu) { %>
<div class="menu-bar"><span>File</span><span>Edit</span><span>View</span><span>Help</span></div>
<% } %>

<div class="content">
    <slot>To be replaced by content inside the tag</slot>
</div>
