@import '../../../core/scss/constants';

// colors
$background: #BABABA;
$base: #c7c7c7;
$base-hover: darken($base, 5%);
$base-border: #fcfcfc;
$base-shadow: #2a2a2a;
$base-100: #d7d7d7;
$blue: #04007E;
$default: #000;

// measurements
$base-pad: 4px;

// mixins
@mixin full-shadow($size) {
  border-left: $size solid $base-border;
  border-top: $size solid $base-border;
  border-right: $size solid $base-shadow;
  border-bottom: $size solid $base-shadow;
}

@mixin full-reverse($size) {
  border-left: $size solid $base-shadow;
  border-top: $size solid $base-shadow;
  border-right: $size solid $base-border;
  border-bottom: $size solid $base-border;
}

@mixin base-shadow($size) {
  border-left: $size solid $base-border;
  border-top: $size solid $base-border;
}

@mixin hover-reverse {
  &:hover {
    background-color: $base-hover;

    @include full-reverse(2px);
  }
}

:host {
  position: relative;
  display: grid;
  align-content: start;
  align-self: start;
  background-color: $background;
  padding: 2px;
  max-width: 700px;

  @include full-shadow(2px);

  .title-bar {
    user-select: none;
    cursor: move;
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: center;
    grid-gap: 30px;
    color: white;
    text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px, -1px -1px 2px black;
    background: $blue;
    padding: $base-pad;
    height: 30px;

    .title {
      pointer-events: none;
      font-weight: bold;
      display: inline-grid;
      align-content: center;
      grid-auto-flow: column;
      grid-gap: 15px;

      .icon {
        width: 20px;
        height: 20px;


        img {
          width: 20px;
          height: 20px;
          align-self: center;
        }
      }

      ::slotted(img) {
        width: 20px;
        height: 20px;
        align-self: center;
      }

      .text {
        padding: 0;
      }
    }

    .controls {
      display: inline-grid;
      grid-auto-flow: column;
      align-content: center;

      .control {
        width: 26px;
        height: 26px;
        background-color: $base;
        margin-left: $base-pad;
        padding: 0;
        cursor: $hand-cursor;

        @include base-shadow(2px);

        @include hover-reverse;
      }
    }
  }

  .menu-bar {
    user-select: none;

    span {
      padding: ($base-pad * 2);
      display: inline-block;
      cursor: pointer;

      &::first-letter {
        text-decoration: underline;
      }

      &:hover {
        background-color: $base-hover;
      }
    }
  }

  .content {
    @include full-reverse(2px);

    display: inline-grid;
    padding: 15px;
    max-height: 400px;
    overflow: auto;
  }
}
