@import '../../../core/scss/constants';

// colors
$background: #ff9ae0;
$base: #c7c7c7;
$base-hover: darken($base, 5%);
$base-border: #fcfcfc;
$base-shadow: #2a2a2a;
$base-100: #d7d7d7;
$blue: #000080;
$default: #000;

// measurements
$base-pad: 4px;

// mixins
@mixin full-shadow($size) {
  border-left: $size solid $base-border;
  border-top: $size solid $base-border;
  border-right: $size solid $base-shadow;
  border-bottom: $size solid $base-shadow;
}

@mixin full-reverse($size) {
  border-left: $size solid $base-shadow;
  border-top: $size solid $base-shadow;
  border-right: $size solid $base-border;
  border-bottom: $size solid $base-border;
}

@mixin base-shadow($size) {
  border-left: $size solid $base-border;
  border-top: $size solid $base-border;
}

@mixin hover-reverse {
  &:hover {
    background-color: $base-hover;

    @include full-reverse(2px);
  }
}

:host {
  position: relative;
  display: grid;
  align-content: start;
  align-self: start;
  background-color: #d1f2ff;
  padding: $base-pad;
  max-width: 500px;

  @include full-shadow(2px);

  .title-bar {
    user-select: none;
    cursor: move;
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: center;
    grid-gap: 30px;
    color: white;
    text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px, -1px -1px 2px black;
    background: linear-gradient(114.18deg, #00f00f -22.29%, #fc87f0 95.68%);
    padding: $base-pad;
    height: 30px;

    .title {
      pointer-events: none;
      font-weight: bold;
      display: inline-grid;
      align-content: center;
      grid-auto-flow: column;
      grid-gap: 15px;

      .icon {
        img {
          width: 20px;
          height: 20px;
          align-self: center;
        }
      }

      .text {
        padding: 0;
      }
    }

    .controls {
      display: inline-grid;
      grid-auto-flow: column;
      align-content: center;

      .control {
        width: 26px;
        height: 26px;
        background-color: $base;
        margin-left: $base-pad;
        padding: 0;

        @include base-shadow(2px);

        cursor: pointer;

        @include hover-reverse;
      }
    }
  }

  .menu-bar {
    user-select: none;

    span {
      padding: ($base-pad * 2);
      display: inline-block;
      cursor: pointer;

      &::first-letter {
        text-decoration: underline;
      }

      &:hover {
        background-color: $base-hover;
      }
    }
  }

  .content {
    @include full-reverse(2px);

    display: inline-grid;
    padding: 15px;
    max-height: 200px;
    overflow: auto;
  }
}
