<div class="title-bar">
    <p class="title"><img class="icon" src="../../assets/images/bean_icon.jpg"><span>Le nom de la fenêtre<!-- To be replaced by input content --></span></p>
    <div class="controls">
        <button class="control" onclick="var error=new Audio('assets/audio/WindowsError.mp3');error.play();">
            _
        </button>
        <button class="control" onclick="var error=new Audio('assets/audio/WindowsError.mp3');error.play();">
            X
        </button>
        <button class="control" onclick="var error=new Audio('assets/audio/WindowsError.mp3');error.play();">
            U
        </button>
    </div>
</div>

<div class="menu-bar"><span>File</span><span>Edit</span><span>View</span><span>Help</span></div>

<div class="content-container">
    <div class="content">
        <slot>To be replaced by content inside the tag</slot>
    </div>
    <div class="scroll">
        <div class="start"></div>
        <div class="progress"></div>
        <div class="end"></div>
    </div>
</div>
