<div class="title-bar">
    <p class="title">Le nom de la fenêtre<!-- To be replaced by input content --></p>
    <div class="controls">
        <button class="control">
            _
        </button>
        <button class="control">
            X
        </button>
        <button class="control">
            U
        </button>
    </div>
</div>

<div class="menu-bar"><span>File</span><span>Edit</span><span>View</span><span>Help</span></div>

<div class="content-container">
    <div class="content">
        <slot>To be replaced by content inside the tag</slot>
    </div>
    <div class="scroll">
        <div class="start"></div>
        <div class="progress"></div>
        <div class="end"></div>
    </div>
</div>
