@import '../../../core/scss/constants';

// colors
$background: #ff9ae0;
$base: #c7c7c7;
$base-hover: darken($base, 5%);
$base-border: #fcfcfc;
$base-shadow: #2a2a2a;
$base-100: #d7d7d7;
$blue: #000080;
$default: #000;

// measurements
$base-pad: 4px;

// mixins
@mixin full-shadow($size) {
  border-left: $size solid $base-border;
  border-top: $size solid $base-border;
  border-right: $size solid $base-shadow;
  border-bottom: $size solid $base-shadow;
}

@mixin full-reverse($size) {
  border-left: $size solid $base-shadow;
  border-top: $size solid $base-shadow;
  border-right: $size solid $base-border;
  border-bottom: $size solid $base-border;
}

@mixin base-shadow($size) {
  border-left: $size solid $base-border;
  border-top: $size solid $base-border;
}

@mixin hover-reverse {
  &:hover {
    background-color: $base-hover;

    @include full-reverse(2px);
  }
}

app-window {
  display: grid;
  align-content: start;
  align-self: start;
  background-color: $base;
  padding: $base-pad;

  @include full-shadow(2px);

  .title-bar {
    display: inline-grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-content: center;
    grid-gap: 30px;
    color: $base;
    background-color: $blue;
    padding: $base-pad;
    height: 30px;

    .title {
      font-weight: bold;
      margin: 0;
      align-self: center;
    }

    .controls {
      display: inline-grid;
      grid-auto-flow: column;

      .control {
        width: 26px;
        height: 22px;
        background-color: $base;
        margin-left: $base-pad;

        @include base-shadow(2px);

        cursor: pointer;

        @include hover-reverse;
      }
    }
  }

  .menu-bar {
    span {
      padding: ($base-pad * 2);
      display: inline-block;
      cursor: pointer;

      &::first-letter {
        text-decoration: underline;
      }

      &:hover {
        background-color: $base-hover;
      }
    }
  }

  .content-container {
    @include full-reverse(2px);

    display: inline-grid;
    grid-template-columns: 1fr 26px;
    min-height: 250px;
  }

  // TODO
  .scroll {
    width: 26px;
    background-color: $base-100;
    display: inline-grid;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    .progress {
      width: 24px;
      height: 70%;
      cursor: pointer;

      @include full-shadow(2px);

      background-color: $base;

      &:hover {
        background-color: $base-hover;
      }
    }

    .start,
    .end {
      width: 24px;
      height: 22px;
      position: relative;

      @include full-shadow(2px);

      background-color: $base;

      @include hover-reverse;

      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        top: 6px;
        left: 4px;
        border-top: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid $default;
      }
    }

    .end {
      &::after {
        transform: rotate(180deg);
      }
    }

    &.-row {
      flex-direction: row;

      .progress {
        width: 30%;
        height: 24px;
      }

      .start {
        &::after {
          transform: rotate(-90deg);
        }
      }

      .end {
        &::after {
          transform: rotate(90deg);
        }
      }
    }
  }
}
