@import '../../core/scss/styles';
@import '../../core/scss/constants';

#background-wrapper,
#foreground-wrapper {
  display: grid;
}

#foreground-wrapper {
  position: absolute;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-content: center;
  background-image: url("/assets/images/bean.gif");
  background-size: cover;

  #q-test1 button:not(.control) {
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    background-size: cover;
    height: 150px;
    width: 110px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 3px solid;
    border-bottom-color: #A8A9A8;
    border-right-color: #A8A9A8;
    border-top-color: #EAEAEA;
    border-left-color: #EAEAEA;
  }

  #holland {
    background: url("/assets/images/hollande.jpg");
  }
}
