@import '../../core/scss/styles';
@import '../../core/scss/constants';

#background-wrapper,
#foreground-wrapper {
  display: grid;
  cursor: $arrow-cursor;
}

#foreground-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;
  pointer-events: none;

  .windows-boot-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    display: none;
    z-index: 99;
	-webkit-animation: fade-out 1s ease-out 5s both;
	        animation: fade-out 1s ease-out 5s both;

    .windows-boot {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
      z-index: 9999;

      .container {
        width: 150px;
        height: 10px;
        border: 2px solid #b2b2b2;
        border-radius: 7px;
        margin: 0 auto;
        padding: 2px 1px;
        overflow: hidden;
        font-size: 0;

        .box {
          width: 9px;
          height: 100%;
          background: linear-gradient(to bottom, #b828c7 0%,#5979ef 17%,#f086f3 32%,#869ef3 45%,#5979ef 59%,#00fffe 100%);
          display: inline-block;
          margin-right: 2px;
          animation: loader 2s infinite;
          animation-timing-function: linear;
        }
      }

      .logo {
        width: 220px;
        margin: 50px auto;

        img {
          width: 100%;
        }
      }
      @keyframes loader {
        0% {
          transform: translate(-30px);
        }

        100% {
          transform: translate(150px);
        }
      }
    }
  }

  app-pc-window {
    pointer-events: all;
  }

  #cursor {
    display: none;
    position: absolute;
    z-index: 999;
    width: 600px;
    //transform: translateX(-7px);
  }

  #crack {
    display: none;

    #youtube-crack {
      width: 100%;
      height: 100%;
    }
  }

  #netscape-planet {
    display: none;
  }

  .window-buttons {
    display: inline-grid;
    grid-auto-flow: column;
  }

  #q-test1 button:not(.control) {
    cursor: $hand-cursor;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    background-size: cover;
    height: 150px;
    width: 110px;
    background-position: center center;
    border: 3px solid;
    border-bottom-color: #a8a9a8;
    border-right-color: #a8a9a8;
    border-top-color: #eaeaea;
    border-left-color: #eaeaea;
  }

  #holland {
    background: url("/assets/images/hollande.jpg");
  }
}

#background-wrapper {
  height: 100%;
  width: 100%;
  background-color: $default-w95-bg;
  background-image: url("/assets/images/logos/microsoft95logo.png");
  background-size: 175px;
  background-position: center center;
  background-repeat: no-repeat;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  place-items: center;
  align-content: flex-start;

  #virtual-girl {
    display: none;
    position: absolute;
    bottom: 40px;
    right: 0;

    img {
      width: 200px;
    }
  }

  .desktop-icon {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 80px;
    place-items: center;
    margin: 10px;
    cursor: $hand-cursor;
    grid-gap: 10px;

    img {
      width: 78%;
    }

    span {
      color: white;
      word-wrap: break-word;
      font-size: 14px;
      width: 100%;
      text-align: center;
      text-shadow: 1px 1px 2px black, -1px 1px 2px black, 1px -1px 2px, -1px -1px 2px black;
    }
  }

  .desktop-icon:hover {
    border: 1px dotted black;
  }

  #task-bar {
    background-color: $default-w95-window-bg;
    height: 40px;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-top: $border;
    display: grid;
    grid-template-columns: max-content max-content;
    justify-content: space-between;

    #start-button {
      height: 60%;
      font-weight: bold;
      padding: 3px;
      justify-content: center;
      margin-left: 6px;
      border: $border;
      cursor: $hand-cursor;

      img {
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
      }
    }

    #time {
      height: 60%;
      padding: 3px;
      justify-content: center;
      margin-left: 6px;
      border: inset 2px;
      text-align: center;
      margin-right: 6px;
    }
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2018-12-17 21:21:30
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation fade-out
 * ----------------------------------------
 */
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
