<%= require('../../core/parts/header.ejs')({title: 'Evaluation'}) %>

<div id="foreground-wrapper">
	<app-pc-window id="q-test1" ifRight="q-test2" ifWrong="l-test1">
		<p>Ma question ?</p>
		<div class="window-buttons">
			<button rightAwnser onclick="RoverXpDog.append(); RoverXpDog.say('bonita');">Bonne réponse ajout rover</button>
			<button wrongAwnser id="holland">Mauvaise réponse</button>
			<button rightAwnser>Autre bonne réponse</button>
		</div>
	</app-pc-window>

	<app-pc-window id="q-test2" ifRight="q-test3" ifWrong="l-test1" hidden>
		<p>Ma question 2 ?</p>
		<button rightAwnser>
			Bonne réponse questi
		</button>
		<button wrongAwnser>Mauvaise réponse</button>
	</app-pc-window>

	<app-pc-window id="q-test3" hidden>
		<p>Ma question 3 ?</p>
		<button rightAwnser>
			Bonne réponse questi
		</button>
		<button wrongAwnser>Mauvaise réponse</button>
	</app-pc-window>
</div>

<div id="background-wrapper">
	<div class="desktop-icon" id="wikipedia">
		<img src="assets/images/icons/wikipedia-logo.png" alt="">
		<span>Wikipedia.exe</span>
	</div>
	<div class="desktop-icon" id="netscape">
		<img src="assets/images/icons/netscape-logo.png" alt="">
		<span>Netscapefinalv2.prod.Final.c</span>
	</div>
	<div class="desktop-icon" id="wallpaper">
		<img src="assets/images/icons/wallpaper.jpg" alt="">
		<span>Awes0meWall paper.jpg</span>
	</div>
	<div class="desktop-icon" id="mypc">
		<img src="assets/images/icons/my-computer.gif" alt="">
		<span>Computer</span>
	</div>
	<div class="desktop-icon" id="recycle">
		<img src="assets/images/icons/recycle-bin.png" alt="">
		<span>Recycle Bin</span>
	</div>
	<div id="task-bar">
		<div id="start-button"><img src="assets/images/icons/w95-icon.png">Start</div>
		<div id="time"></div>
	</div>
</div>

<%= require('../../core/parts/footer.ejs')() %>
