<%= require('../../core/parts/header.ejs')({title: 'Evaluation'}) %>

<div id="foreground-wrapper">
	<app-pc-window id="q-test1" ifRight="q-test2" ifWrong="l-test1">
		<p>Ma question ?</p>
		<div class="window-buttons">
			<button rightAwnser onclick="RoverXpDog.append(); RoverXpDog.say('bonita');">Bonne réponse ajout rover</button>
			<button wrongAwnser id="holland">Mauvaise réponse</button>
			<button rightAwnser>Autre bonne réponse</button>
		</div>
	</app-pc-window>

	<app-pc-window id="q-test2" ifRight="q-test3" ifWrong="l-test1" hidden>
		<p>Ma question 2 ?</p>
		<button rightAwnser>
			Bonne réponse questi
		</button>
		<button wrongAwnser>Mauvaise réponse</button>
	</app-pc-window>

	<app-pc-window id="q-test3" hidden>
		<p>Ma question 3 ?</p>
		<button rightAwnser>
			Bonne réponse questi
		</button>
		<button wrongAwnser>Mauvaise réponse</button>
	</app-pc-window>
</div>

<div id="background-wrapper">
	<div id="task-bar">
		<div id="start-button"><img src="assets/images/icons/w95-icon.png">Start</div>
	</div>
</div>

<%= require('../../core/parts/footer.ejs')() %>
