<%= require('../../core/parts/header.ejs')({title: 'Evaluation'}) %>

<div id="foreground-wrapper">
	<app-pc-window id="q-test1" ifRight="q-test2" ifWrong="l-test1">
		<p>Ma question ?</p>
		<button rightAwnser>Bonne réponse ajout rover</button>
		<button wrongAwnser onclick="var BeDo=new Audio('assets/audio/YouCanBeDo.wav');BeDo.play();" id="holland">Mauvaise réponse</button>
		<button rightAwnser>Autre bonne réponse</button>
	</app-pc-window>

	<app-pc-window id="q-test2" ifRight="q-test3" ifWrong="l-test1" hidden>
		<p>Ma question 2 ?</p>
		<button rightAwnser
			onclick="RoverXpDog.append();
			RoverXpDog.say('bonita');">
			Bonne réponse questi
		</button>
		<button wrongAwnser>Mauvaise réponse</button>
	</app-pc-window>

	<app-pc-window id="q-test3" hidden>
		<p>Ma question 3 ?</p>
		<button rightAwnser>
			Bonne réponse questi
		</button>
		<button wrongAwnser>Mauvaise réponse</button>
	</app-pc-window>
</div>

<div id="background-wrapper">
</div>

<%= require('../../core/parts/footer.ejs')() %>
