@import '../../core/scss/styles';
@import '../../core/scss/constants';

#background-wrapper,
#foreground-wrapper {
  display: grid;
  cursor: $arrow-cursor;
}

#foreground-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-content: center;

  .window-buttons {
    display: inline-grid;
    grid-auto-flow: column;
  }

  #q-test1 button:not(.control) {
    cursor: $hand-cursor;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    background-size: cover;
    height: 150px;
    width: 110px;
    background-position: center center;
    border: 3px solid;
    border-bottom-color: #a8a9a8;
    border-right-color: #a8a9a8;
    border-top-color: #eaeaea;
    border-left-color: #eaeaea;
  }

  #holland {
    background: url("/assets/images/hollande.jpg");
  }
}

#background-wrapper {
  height: 100%;
  width: 100%;
  background-color:$default-w95-bg;
  background-image: url("/assets/images/logos/microsoft95logo.png");
  background-size: 175px;
background-position: center center;
background-repeat: no-repeat;
grid-template-columns: repeat(6 , 1fr);
grid-template-rows: auto;
place-items: center;
align-content: flex-start;

  .desktop-icon {
    display: grid;
grid-auto-flow: row;
grid-template-columns: 80px;
place-items: center;
margin: 10px;
cursor: $hand-cursor !important;
grid-gap: 10px;

.desktop-icon:hover {
  border: 1px dotted black;
}

    img{
      width: 78%;

    }
    span {
      color: white;
      word-wrap: break-word;
      font-size: 14px;
      width: 100%;
      text-align: center;
    }
  }

  #task-bar {
    background-color: $default-w95-window-bg;
    height: 40px;
    bottom: 0;
    position: absolute;
    width: 100%;
    border-top: $border;
    display: grid;
    grid-template-columns: max-content max-content;
justify-content: space-between;
    
    #start-button {
      height: 60%;
    font-weight: bold;
    padding: 3px;
    justify-content: center;
    margin-left: 6px;
    border: $border;
    cursor: $hand-cursor;
    

      img {
        height: 20px;
        margin-right: 8px;
        vertical-align: middle;
      }
    }

    #time {
      height: 60%;
      padding: 3px;
      justify-content: center;
      margin-left: 6px;
      border: inset 2px;
      text-align: center;
      margin-right: 6px;
    }
  }
}
