<%= require('../../core/parts/header.ejs')({title: 'Welcome'}) %>
      <a href="#quizz">Goto quizz</a>
      <a href="#enroll">Goto enroll</a>
      <a href="#hacked">Goto hacked</a>

      <app-overlay id="intro-overlay" onclick="initSnoop()">
            <p>Congratulation, you arrived here</p>
            <button>Click me</button>
      </app-overlay>

      <app-overlay id="fullscreen-overlay" hidden>
            <p>You must press f11 to activate snoopavision</p>
      </app-overlay>
<%= require('../../core/parts/footer.ejs')() %>