<%= require('../../core/parts/header.ejs')({title: 'Home'}) %>

<div>
	<a href="module-test.html">Go to module test</a>

	<app-question id="q-test" ifRight="q-test2" ifWrong="l-test1">
		<p>Ma question ?</p>
		<button rightAwnser>Bonne réponse</button>
		<button wrongAwnser>Mauvaise réponse</button>
		<button rightAwnser>Autre bonne réponse</button>
	</app-question>

</div>

<%= require('../../core/parts/footer.ejs')() %>