<%= require('../../core/parts/header.ejs')({title: 'Home'}) %>


<div>
  <a href="forms.html">Go back to forms</a>
  Hello, world from module test !
  <img src="<%= htmlWebpackPlugin.options.assetsPath %>images/test.jpg">
</div>

<%= require('../../core/parts/footer.ejs')() %>