<%= require('../../core/parts/header.ejs')({title: 'SEEK THE TRUTH'}) %>
      <a href="#quizz">Goto quizz</a>
      <a href="#enroll">Goto enroll</a>
      <a href="#hacked">Goto hacked</a>

      <app-overlay id="intro-overlay">
            <h1>Things are hidden away</h1>
      </app-overlay>

      <app-overlay id="goto-fullscreen-overlay" hidden>
            <p>You must press f11 to activate snoopavision</p>
      </app-overlay>
<%= require('../../core/parts/footer.ejs')() %>