@import '../../core/scss/styles';
@import '../../core/scss/constants';

body {
  background-color: black;
  cursor: url('/assets/images/icons/weed-cursor.cur'), auto;
}

#intro-overlay {
  grid-auto-flow: column;
}

canvas {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

a {
  color: white;
}
