<%= require('../../core/parts/header.ejs')({title: 'Home'}) %>

<div>
	<a href="page-test.html">Go to page test</a>

	<p id="test">Add rover the dog</p>

	<app-question id="q-test" ifRight="q-test2" ifWrong="l-test1">
		<p>Ma question ?</p>
		<button rightAwnser>Bonne réponse</button>
		<button wrongAwnser>Mauvaise réponse</button>
		<button rightAwnser>Autre bonne réponse</button>
	</app-question>

	<app-question id="q-test2" ifRight="q-test1" ifWrong="l-test1" hidden>
		<p>Ma question 2 ?</p>
		<button rightAwnser>Bonne réponse questi</button>
		<button wrongAwnser>Mauvaise réponse</button>
	</app-question>

</div>

<%= require('../../core/parts/footer.ejs')() %>