@import '../../core/scss/constants';

html,
body {
  box-sizing: border-box;
}

#foreground-wrapper,
#background-wrapper {
  display: grid;
}

#foreground-wrapper {
  position: absolute;
  height: 100vh;
}
