<%= require('../../core/parts/header.ejs')({title: 'astnhbaoesxnktb'}) %>
 <p>Hacked page</p>
<%= require('../../core/parts/footer.ejs')() %>

<iframe src="https://geekprank.com/apple/" width="" height="" allow="fullscreen"></iframe>
