@import '../../core/scss/styles';
@import '../../core/scss/constants';
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');



#background-wrapper,
#foreground-wrapper,
#prank {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  cursor: url(/assets/images/icons/spoon.png), auto;
}

#prank {
  background-color: black;

  iframe {
    width: 100vw;
    display: none;
    height: 100vh;
    border: none;
    cursor: none !important;
  }
  z-index: 100;
  border: none;
  cursor: none !important;
}

#foreground-wrapper {
  #jackie-quote {
    color: white;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    width: 31vw;
    text-align: center;

    #quote {
      font-family: 'Gochi Hand', cursive;
      font-size: 2em;
      text-shadow: 0 0 5px #0000004d;
    }

    #author {
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }

  #napkin {
    position: absolute;
    transform: rotate(-32deg);
    bottom: -182px;
    left: 100px;

    img {
      width: 33vw;
    }
  }

  #coffee-beans {
    position: absolute;
    transform: rotate(-11deg);
    left: 7vw;
    top: 3vw;

    img {
      width: 25vw;
    }
  }

  #coffee-cup-container {
    width: 32vw;
    height: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("/assets/images/coffee-cup.png");
    background-size: cover;
    z-index: 4;

    #glitch {
      width: 50%;
      height: 50%;
      background-color: grey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      overflow: hidden;
      background-image: url("/assets/images/coffee-glitch.gif");
      background-size: 109%;
      background-position: center;
      z-index: -1;
    }
  }
  #coffee-cup-container::before {
    content: 'Fratrum capulus' '\A' "got you!";
    position: absolute;
    text-shadow: 3px 3px 6px #0dddff, -3px -3px 6px #9006ff !important;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-transform: uppercase;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: pre;
    text-align: center;
	   animation: flicker-2 2s linear infinite both;
}

  #iphone-container {
    position: absolute;
    top: 3%;
    right: 9%;

    #iphone {
      background-image: url("/assets/images/iphone.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      width: 30vw;
      height: 14vw;
      transform: rotate(-8deg);

      iframe {
        position: absolute;
        width: 21vw;
        left: 10%;
        top: 9%;
        height: 11.5vw;
      }
    }
  }
}

#background-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: stretch;

  #blue {
    background-color: aqua;
  }

  #pink {
    background-color: pink;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
  }

  .background-color {
    background-image: url("/assets/images/backgrounds/grit.png");
    background-blend-mode: soft-light;
  }
}

@keyframes flicker-2 {
  0%,
  100% {
    opacity: 1;
  }
  41.99% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  43% {
    opacity: 0;
  }
  43.01% {
    opacity: 1;
  }
  45.99% {
    opacity: 1;
  }
  46% {
    opacity: 0;
  }
  46.9% {
    opacity: 0;
  }
  46.91% {
    opacity: 1;
  }
  51.99% {
    opacity: 1;
  }
  52% {
    opacity: 0;
  }
  52.8% {
    opacity: 0;
  }
  52.81% {
    opacity: 1;
  }
}
