@import '../../core/scss/styles';
@import '../../core/scss/constants';

#prank {
  background-color: black;

  iframe {
    width: 100vw;
    display: none;
    height: 100vh;
    border: none;
  }
  z-index: 100;
  // display: none;
  border: none;
  cursor: none;
}

#background-wrapper,
#foreground-wrapper,
#prank {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  cursor: url(/assets/images/icons/spoon.png), auto;
}

#foreground-wrapper {
  #jackie-quote {
    color: white;
    position: absolute;
    bottom: 2vw;
    right: 2vw;
    width: 31vw;
    text-align: center;

    #quote {
      font-family: 'Gochi Hand', cursive;
      font-size: 2em;
      text-shadow: 0 0 5px #0000004d;
    }

    #author {
      display: block;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
  }

  #napkin {
    position: absolute;
    transform: rotate(-32deg);
    bottom: -182px;
    left: -64px;

    img {
      width: 50vw;
    }
  }

  #coffee-beans {
    position: absolute;
    transform: rotate(-11deg);
    left: 7vw;
    top: 3vw;

    img {
      width: 25vw;
    }
  }

  #coffee-cup-container {
    width: 32vw;
    height: 32vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: url("/assets/images/coffee-cup.png");
    background-size: cover;
    z-index: 4;

    #glitch {
      width: 50%;
      height: 50%;
      background-color: grey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      border-radius: 50%;
      overflow: hidden;
      background-image: url("/assets/images/coffee-glitch.gif");
      background-size: 109%;
      background-position: center;
      z-index: -1;
    }
  }

  #iphone-container {
    position: absolute;
    top: 3%;
    left: 57%;

    #iphone {
      background-image: url("/assets/images/iphone.png");
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      width: 48vw;
      height: 18vw;
      transform: rotate(-8deg);

      iframe {
        position: absolute;
        width: 27vw;
        left: 10%;
        top: 9%;
        height: 14.8vw;
      }
    }
  }
}

#background-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-items: stretch;

  #blue {
    background-color: aqua;
  }

  #pink {
    background-color: pink;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.568);
  }

  .background-color {
    background-image: url("/assets/images/backgrounds/grit.png");
    background-blend-mode: soft-light;
  }
}
