/* Global constants */

$color-primary: blue;
$default-w95-bg: #008fad;
$default-w95-window-bg: #BABABA;
$border: outset 2px;

$arrow-cursor: url('/assets/images/icons/arrow-white-cursor.cur'), auto;
$hand-cursor: url('/assets/images/icons/hand-cursor.cur'), auto;
