/* Global styles, import only once per page, do not import in elements */

@import "./constants";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: "Inconsolata", monospace;
}
