/* Global styles, import only once per page, do not import in elements */

@import "./constants";
@import url("https://fonts.googleapis.com/css?family=Inconsolata");

body {
  font-family: "Inconsolata", monospace;
  margin: 0;
  padding: 0;
}
