<%= require('../../core/parts/header.ejs')({title: 'Enroll'}) %>
<app-overlay id="intro-overlay">
    <div id="intro-overlay-text">
        <p>You have proven yourself worthy of our cause</p>
        <p>We don't have much time before they find us</p>
        <p>Fill the form to join the society</p>
        <p>We'll talk afterwards.</p>
    </div>
    <span id="intro-overlay-text-animation"></span>
</app-overlay>

<div id="agent-card-container">
    <button id="join-btn">Join the anti-coffee society</button>
</div>

<app-pc-window hidden id="timer" randomPlace>
    <p slot="title">HAHAHA</p>
    <img slot="icon" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/hollande.jpg">
    <p>TODO TIMER</p>
</app-pc-window>

<app-pc-window hidden id="window-firstname" randomPlace>
    <p slot="title">HAHAHA</p>
    <img slot="icon" src="<%= htmlWebpackPlugin.options.assetsUrl %>images/hollande.jpg">
    <p>Enter your name: </p>
    <input type="text" id="form-firstname" maxlength="10">
</app-pc-window>

<%= require('../../core/parts/footer.ejs')() %>