<%= require('../../core/parts/header.ejs')({title: 'Enroll'}) %>
    <div id="foreground-wrapper">
        <div class="agent-card">
            <div class="photo">
                <img src="<%= htmlWebpackPlugin.options.assetsUrl %>/images/blob.jpeg">
            </div>
            <div class="infos">
                <h2 id="agent">Agent</h2>
                <h1 id="titre">Anti-Coffee Society</h1>
                <h3 class="label-badge">First Name: <span id="badge-fname">First Name</span></h3>
                <h3 class="label-badge">Last Name: <span id="badge-lname">Last Name</span></h3>
                <h3 class="label-badge">Birth date: <span id="badge-bdate">Birth date</span></h3>
            </div>
            <p id="citation">LOL</p>
        </div>
    </div>

    <div id="background-wrapper">
        <app-pc-window randomPlace>
            <p slot="title">HAHAHA</p>
            <p>Je suis fonctinneeuodoeudeodeeeeeeeeeeeeeeeeeeeeeeeeuiiiiiiiiiiiiiiieeeeeeeeeeeeel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
            <p>Je suis fonctinnel</p>
        </app-pc-window>
    
        <app-pc-window randomPlace>
            <p slot="title">Do it !</p>
            <p>Je suis fonctinnel</p>
        </app-pc-window>
    
        <app-pc-window randomPlace>
            <p>Je suis fonctinnel</p>
        </app-pc-window>
    </div>
<%= require('../../core/parts/footer.ejs')() %>