@import '../../core/scss/styles';
@import '../../core/scss/constants';

body {
  background: url('/assets/images/backgrounds/bean-2.gif');
  background-size: cover;
}

#background-wrapper,
#foreground-wrapper {
  height: 100%;
  width: 100%;
}

#foreground-wrapper {
  pointer-events: none;
  z-index: 9;
  position: absolute;
  justify-content: center;
  align-content: center;

  .agent-card {
    pointer-events: all;
    width: 530px;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: linear-gradient(121deg, rgba(0, 255, 252, 1) 0%, rgba(255, 0, 54, 1) 100%);
    border: 5px solid #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.7), inset 0 0 7px;
    border-radius: 33px;
    margin: auto;
  }

  .photo {
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 30%;
    border: 6px solid #fff;
    place-self: center;
    box-shadow: 0 0 10px;
  }

  img {
    height: 100%;
  }

  .infos {
    font-size: small;
    margin-left: 20px;
  }

  #agent {
    margin: 20px 0 0;
  }

  #titre {
    margin: 4px auto;
    color: white;
    text-shadow: 0 0 10px black;
  }

  .infos h3 {
    font-weight: normal;
    margin: 5px auto;
    font-size: 1.5em;
  }

  .infos h3 span {
    font-weight: bold;
  }

  #citation {
    grid-column: 1 / 3;
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    color: white;
    padding: 10px;
  }
}
