@import '../../core/scss/styles';
@import '../../core/scss/constants';

body {
  background: url('/assets/images/backgrounds/bean-2.gif');
  background-size: cover;
}

#intro-overlay {
  grid-auto-flow: column;
}

#agent-card-container {
  position: fixed;
  height: 100%;
  width: 100%;
  display: grid;
  place-content: center;
}
