<%= require('../../core/parts/header.ejs')({title: 'Module test'}) %>

<div>
  <a href="index.html">Go back to index</a>
  Hello, world from module test !
  <img src="<%= htmlWebpackPlugin.options.assetsPath %>images/test.jpg">
</div>

<%= require('../../core/parts/footer.ejs')() %>